{% extends 'base.html.twig' %}


{% block body %}
   Введите комментарий
    <form method="post">
        <input type = "text" name = "name"  placeholder="Ваше имя  "><br>
        <textarea type = "textarea" name = "description" placeholder="  Комментарий" value = " "></textarea><br>
        <input type = "submit" name = "submit" value = "Отправить">
    </form>
{% endblock %}
