{% extends 'base.html.twig' %}

{% block title %}Hello  !{% endblock %}

{% block body %}
   Комментарий  {{ comment.id }} добавлен

        Вернуться к         <a href="/task/{{task.id}}/"> задаче

                                                                                                                 </a>

{% endblock %}
