{% extends 'base.html.twig' %}

{% block title %}Hello  !{% endblock %}

{% block body %}
   Введите данные задачи
    <form method="post">
     выбор исполнителя
        <select    name="author" >

 {% for user in 	user %}
 <option value="{{user.email}}">{{user.email}}</option>
{% endfor %}
         </select>
                 <input type = "text" name ="name" placeholder="Название задачи " value = " "><br>

        <textarea type = "textarea" name = "description" placeholder="Описание задачи" value = ""></textarea><br>
        <input type = "submit" name = "submit" value = "Отправить">
    </form>
{% endblock %}
