{% extends 'base.html.twig' %}

{% block title %}Hello  !{% endblock %}

{% block body %}
    {{ params.name }} добавлена
Создать еще одну задачу    <a href="/task/createform/">
                                             нажать
                                          </a>
{% endblock %}
