{% extends 'base.html.twig' %}

{% block title %}Hello  !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
 <article class="task">
            <h2>
                            Список задач
              </h2>

         <form action="task/createform/"> <button type="submit">  Создать задачу  </button>
</form>

    {% for task  in tasks %}
 <h2>
                  <a href="task/{{task.id}}">
                      {{ task.name }}
                  </a>
              </h2>



              {{ task.description  }}


                {% for comment  in task.comments   %}


 Автор комментария {{   comment.author    }}







     {% else %}
                <div class="post-comment">
                    <p>нет комментариев</p>
                </div>
  {% endfor %}
           </article>
      {% else %}
 {% endfor %}

    </ul>
</div>
{% endblock %}
