{% extends 'task/index.html.twig' %}

{% block title %}Hello  !{% endblock %}

{% block body %}
   Комментарий

{% for comment in comment  %}
 {{   comment[0].text|length   }}
  {{   comment[0].text    }}
{{   comment[0].author    }}
{% endfor %}
{% endblock %}
