{% extends 'base.html.twig' %}

{% block title %}Hello  !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
Обновите данные задачи          <a href="/task/edit/{{task.id}}/">{{task.id}}  </a>
<div class="example-wrapper">
    <h1>Задача номер  {{ task.id }} ! ✅</h1>




   {{ task.name }}<br>
   {{ task.description }}

<a href="{{task.id}}/newcomment">Оставить комментарий
</a>
  <h4 class="col-sm-3">Комментарии
</h4>
      {% for comment in task.comments %}
             <div class="row post-comment">
                 <a name="comment_{{ comment.id }}"></a>
                 <h4 class="col-sm-3">
                     <strong>{{ comment.author }}</strong>

  <strong>{{ comment.date|date("m/d/Y") }}</strong>
                 </h4>
                 <div class="col-sm-9">
                     {{ comment.text }}
                 </div>
             </div>
         {% else %}
             <div class="post-comment">
                 <p>{{ 'task.no_comments'|trans }}</p>
             </div>
         {% endfor %}





</div>
{% endblock %}
