{% extends 'base.html.twig' %}

{% block title %}Hello  !{% endblock %}

{% block body %}
    {{ params.name }} обновлена
Создать еще одну задачу    <a href="/task/createform/">
                                             нажать
                                          </a>


                                          Просмотреть задачу   <a href="/task/{{task.id}}/">
                                                                                       нажать
                                                                                    </a>
{% endblock %}
