{% extends 'base.html.twig' %}

{% block title %}Hello  !{% endblock %}

{% block body %}

<header>
   Обновите данные задачи          <a href="/task/{{task.id}}/">{{task.id}}

                                                                                                              </a>

                                                                                                              </header>
    <form method="post">

                 <input type = "text" name ="name" placeholder="Название задачи " value = " "><br>

        <textarea type = "textarea" name = "description" placeholder="Описание задачи" value = ""></textarea><br>
        <input type = "submit" name = "submit" value = "Отправить">
    </form>
{% endblock %}
